doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="http://codeorigin.jquery.com/jquery-2.0.3.min.js")
    script(src="/socket.io/socket.io.js")
      body
    block content